body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container-div {
    height: 100vh;
    background-color: rgb(33, 33, 33);
    text-align: center;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .money-hands {
    width: 60vw;
    height: auto;
  }
  
  .content {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .left-box, .right-box {
    background-color: #eee;
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    width: 350px;
  }
  
  .left-box h2, .right-box h2 {
    font-size: 25px;
    color: black;
  }
  
  .join-btn {
    font-size: 30px;
    width: 220px;
    position: relative;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    top: 40px;
    border: 2px solid black;
  }
  
  .join-btn:hover {
    background-color: #555;
  }

.intro-line {
    color: white;
}