/* src/pages/Dashboard.css */
.App {
  min-height: 100vh;
  background-color: #252525;
}

.top-bar {
  background-color: #79747E;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.portfolio-button,
.logout-button, .Landing-button, .settings-button, .dashboard-button{
  background-color: transparent;
  color: #252525;
  border: none;
  padding: 10px 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.portfolio-button:hover,
.logout-button:hover, .Landing-button:hover, .settings-button:hover, .dashboard-button:hover {
  color: #333333;
}
