body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .top-bar {
    background-color: #79747E; /* Black background */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align title and button */
    align-items: center;
  }
  
  .register-button {
    background-color: transparent;
    color: #252525;
    border: none;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  .logo {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .register-button:hover {
    color: #333333; /* Darker red on hover */
  }
  
  .signin-button {
    background-color: transparent; /* Red background */
    color: #252525;
    border: none;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .signin-button:hover {
    color: #333333; /* Darker red on hover */
  }

  .container-div {
    height: 130vh;
    background-color: rgb(33, 33, 33);
    text-align: center;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .money-hands {
    width: 60vw;
    height: auto;
  }
  
  .landing-content {
    display: flex;
    color: #252525;
    justify-content: center;
    padding: 20px;
  }
  
  .landing-left-box, .landing-right-box {
    background-color: #eee;
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    width: 350px;
  }
  
  .landing-left-box h2, .landing-right-box h2 {
    font-size: 25px;
    color: black;
  }
  
  .join-btn {
    font-size: 30px;
    width: 220px;
    position: relative;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    top: 40px;
    border: 2px solid black;
  }
  
  .join-btn:hover {
    background-color: #555;
  }

.intro-line {
    color: white;
}